In [2]:
import pandas as pd

In [14]:
df = pd.read_csv("input/OrderReport06112023090646 - OrderReport06112023090646.xls.csv")
#drop last row as they are total
df = df[:-1]

In [15]:
df.columns.to_list()

['Unnamed: 0',
 'Order Date / Time',
 'Order No.',
 'Name',
 'Address',
 'Phone',
 'Preference',
 'Due Date',
 'Delivered On',
 'Pcs.',
 'Weight',
 'Gross Amount',
 'Discount',
 'Tax',
 'Net Amount',
 'Advance',
 'Paid',
 'Adjustment',
 'Balance',
 'Advance Received',
 'Advance Used',
 'Booked By',
 'WorkShop Note',
 'Order Note',
 'Home Delivery',
 'Area Location',
 'Garments inspected by',
 'Customer GSTIN',
 'Registration Source',
 'Mobile POS Order',
 'Package',
 'Package Type',
 'Package Name',
 'Feedback',
 'Tags',
 'Comments',
 'Primary Services',
 'Top Up/Extra Service',
 'Order Status']

In [16]:
subset_df = df[[
 'Order Date / Time',
 'Order No.',
 'Phone',
 'Due Date',
 'Delivered On',
 'Paid',
 'Balance',
 'Order Status']]

In [33]:
subset_df.head(5)

,Order Date / Time,Order No.,Phone,Due Date,Delivered On,Paid,Balance,Order Status
0,2023-01-01 10:51:25,K23739,7978116979.0,2023-01-04 00:00:00,2023-01-06 22:29:03,297,0,Delivered
1,2023-01-01 10:54:00,K23740,9845166219.0,2023-01-04 00:00:00,2023-01-07 21:47:03,120,0,Delivered
2,2023-01-01 11:02:36,K23741,8971985235.0,2023-01-04 00:00:00,2023-03-31 16:47:21,49,0,Delivered
3,2023-01-01 11:44:56,K23742,9036011774.0,2023-01-03 00:00:00,2023-01-03 20:50:38,264,0,Delivered
4,2023-01-01 12:06:17,K23743,9833175148.0,2023-01-01 00:00:00,2023-01-02 11:18:42,155,0,Delivered

In [59]:
subset_df =subset_df.assign(Delivered_On = pd.to_datetime(subset_df["Delivered On"],format="%d %b %Y %I:%M:%S %p")) 
subset_df =subset_df.assign(Due_Date = pd.to_datetime(subset_df["Due Date"],format="%d %b %Y")) 
subset_df =subset_df.assign(Order_date_time = pd.to_datetime(subset_df["Order Date / Time"],format="%d %b %Y %I:%M:%S %p"))

subset_df.loc[:,('Phone')] = subset_df['Phone'].astype(str)

In [62]:
subset_df = subset_df.drop(['Order Date / Time',
 'Order No.',
 
 'Due Date',
 'Delivered On',
 ],axis=1)

In [73]:
subset_df["delivered_on_dayofyear"]= subset_df["Delivered_On"].dt.dayofyear
subset_df["due_date_dayofyear"]= subset_df["Due_Date"].dt.dayofyear
subset_df["due_date_weeknum"] = subset_df["Due_Date"].dt.isocalendar().week

In [76]:
subset_df["on_time_deliver"] = subset_df["Delivered_On"] <= subset_df["Due_Date"]

In [78]:
grouped_df = subset_df.groupby("due_date_weeknum")

In [84]:
grouped_df["on_time_deliver"].value_counts().reset_index(name='count').to_csv('output.csv', index=False)